.heading{
 font-size: 75px;
 align-items: center;  
 margin-top: 100px;
 font-weight: 600;
}
.heading2{
   margin-top: 10px;
   font-size: 35px;
}
.subheading{
  font-size: 31px;
  font-weight: 400;
  align-items: center;
}

.subheading1{
  font-size: 16px;
  align-items: center; 
  font-weight: 395;
}
.subheading2{
  font-weight: 400;
  font-size: 18px;
}

.img{
  margin-top: 50px;
}

.img2{
  margin-top: 10px;
  width:410px;
  margin-left: 50px;
}

.about{
 align-items: center;  
 margin-top: 90px;
 font-size: 60px;
}

.img3{
  margin-top: 50px;
  width:570px;
  margin-left: 50px;
}